html,
body {
  background: #f2f2f2;
}
.content {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  margin-top: 180px;
  overflow: hidden;
}
.content .left-cont {
  width: 730px;
  float: left;
  height: auto;
}
.content .left-cont .btn-cont {
  width: auto;
}
.content .left-cont .btn-cont button {
  width: 155px;
  height: 53px;
  display: block;
  float: left;
  background: #fefefe;
  font-size: 20px;
}
.content .left-cont .btn-cont button.act {
  color: white;
  background: #3cafeb;
}
.content .left-cont .btn-cont button.bm {
  display: none;
}
.content .left-cont .cont1 {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  border: 1px solid #dbdbdb;
  background: #fefefe;
  overflow: hidden;
}
.content .left-cont .cont1 ul {
  padding-bottom: 10px;
}
.content .left-cont .cont1 ul li {
  width: 92%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 25px;
}
.content .left-cont .cont1 ul li .head {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  float: left;
}
.content .left-cont .cont1 ul li .head img {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}
.content .left-cont .cont1 ul li .name {
  float: left;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 10px;
}
.content .left-cont .cont1 ul li .name img {
  margin-right: 5px;
  margin-top: 3px;
  float: left;
}
.content .left-cont .cont1 ul li p {
  margin-top: 10px;
  font-size: 16px;
  display: block;
  margin-left: 10px;
  float: left;
  width: 91%;
}
.content .left-cont .cont1 ul li dl {
  width: 93%;
  float: left;
  margin-left: 45px;
  margin-top: 10px;
}
.content .left-cont .cont1 ul li dl dd {
  display: inline-block;
  margin: 2px;
  width: 115px;
  height: 112px;
  background-size: cover !important;
  overflow: hidden;
}
.content .left-cont .cont1 ul li dl dd img {
  width: 115px;
  height: 112px;
}
.content .left-cont .cont1 ul li dl dd a {
  display: block;
  width: 115px;
  height: 112px;
  background-size: cover !important;
}
.content .left-cont .cont1 ul li .big-img {
  float: left;
  margin-top: 10px;
}
.content .left-cont .cont1 ul li .big-img dl dd {
  width: 607px;
  height: 281px;
  background-size: cover !important;
}
.content .left-cont .cont1 ul li .big-img dl dd a {
  display: block;
  width: 607px;
  height: 281px;
}
.content .left-cont .cont1 ul li .big-img img {
  width: 607px;
  height: 281px;
}
.content .left-cont .cont2 {
  width: 100%;
  height: auto;
  padding-bottom: 15px;
  border: 1px solid #dbdbdb;
  background: #fefefe;
  overflow: hidden;
  margin-top: 19px;
}
.content .left-cont .cont2 .name {
  width: 94%;
  height: 65px;
  border-bottom: 1px solid #dbdbdb;
  margin: 0 auto;
}
.content .left-cont .cont2 .name b {
  color: #3cafeb;
  font-size: 20px;
  float: left;
  font-weight: 500;
  line-height: 65px;
}
.content .left-cont .cont2 .name p {
  float: right;
  line-height: 65px;
}
.content .left-cont .cont2 .name p span {
  background: url("../img/zan.png") no-repeat;
  background-size: auto 100%;
  padding-left: 25px;
}
.content .left-cont .cont2 .name p i {
  font-style: normal;
  margin-left: 10px;
}
.content .left-cont .cont2 ul {
  width: 94%;
  margin: 0 auto;
}
.content .left-cont .cont2 ul li {
  width: 100%;
  margin-top: 35px;
}
.content .left-cont .cont2 ul li .com1 {
  width: 100%;
  height: auto;
  position: relative;
  padding-left: 70px;
  box-sizing: border-box;
}
.content .left-cont .cont2 ul li .com1 .headImg {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #dbdbdb;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}
.content .left-cont .cont2 ul li .com1 .headImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.content .left-cont .cont2 ul li .com1 h4 {
  width: 100%;
  height: 30px;
  font-weight: 500;
  border-bottom: 1px solid #dbdbdb;
}
.content .left-cont .cont2 ul li .com1 h4 span {
  font-size: 16px;
}
.content .left-cont .cont2 ul li .com1 h4 .time {
  color: #d2d2d2;
  margin-left: 25px;
}
.content .left-cont .cont2 ul li .com1 h4 a {
  float: right;
  font-size: 16px;
}
.content .left-cont .cont2 ul li .com1 p {
  font-size: 16px;
  line-height: 25px;
  margin-top: 12px;
  width: 578px;
}
.content .left-cont .cont2 ul li .com2 {
  width: 575px;
  height: auto;
  padding: 18px;
  box-sizing: border-box;
  background: #f7f7f7;
  margin-left: 70px;
  margin-top: 12px;
}
.content .left-cont .cont2 ul li .com2 dl .shur {
  width: 540px;
  margin-left: 0 !important;
  margin-top: 10px;
}
.content .left-cont .cont2 ul li .com2 dl .shur textarea {
  width: 100%;
  height: 60px;
  border: 1px solid #dbdbdb;
  resize: none;
  padding: 8px 18px;
  box-sizing: border-box;
}
.content .left-cont .cont2 ul li .com2 dl .shur textarea::-webkit-input-placeholder {
  color: #d2d2d2;
}
.content .left-cont .cont2 ul li .com2 dl dd {
  cursor: pointer;
  font-size: 16px;
  line-height: 25px;
  margin-top: 15px;
}
.content .left-cont .cont2 ul li .com2 dl dd:first-child {
  margin-top: 0;
}
.content .left-cont .cont2 ul li .com2 dl dd span {
  font-size: 16px;
}
.content .left-cont .cont2 ul li .shur {
  width: 575px;
  margin-left: 70px;
  margin-top: 10px;
}
.content .left-cont .cont2 ul li .shur textarea {
  width: 100%;
  height: 60px;
  border: 1px solid #dbdbdb;
  resize: none;
  padding: 8px 18px;
  box-sizing: border-box;
}
.content .left-cont .cont2 ul li .shur textarea::-webkit-input-placeholder {
  color: #d2d2d2;
}
.content .left-cont .cont2 ul li .qr {
  background: transparent;
  color: #3cafeb;
  float: right;
}
.content .left-cont .cont2 .page ul {
  text-align: center;
  margin-top: 20px;
}
.content .left-cont .cont2 .page ul li {
  display: inline-block;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background: #dbdbdb;
  text-align: center;
  line-height: 29px;
  margin: 0 3px;
  color: white;
}
.content .left-cont .cont2 .page ul li.act {
  background: #3cafeb;
}
.content .right-cont {
  width: 445px;
  float: right;
  margin-top: 53px;
}
.content .right-cont .cont1 {
  width: 99%;
  height: 305px;
  border: 1px solid #dbdbdb;
  background: #fefefe;
}
.content .right-cont .cont1 .name {
  width: 96%;
  margin: 0 auto;
  height: 55px;
  border-bottom: 1px solid #dbdbdb;
  line-height: 55px;
}
.content .right-cont .cont1 .name span {
  color: #3cafeb;
  font-size: 20px;
  margin-left: 10px;
}
.content .right-cont .cont1 .name i {
  float: right;
  font-size: 16px;
  line-height: 55px;
  font-style: normal;
}
.content .right-cont .cont1 ul {
  width: 94%;
  margin: 0 auto;
}
.content .right-cont .cont1 ul li {
  margin-top: 38px;
  overflow: hidden;
  font-size: 12px;
  text-align: center;
}
.content .right-cont .cont1 ul li b {
  color: #3cafeb;
  font-size: 25px;
  font-weight: 500;
  margin-right: 10px;
}
.content .right-cont .cont1 ul li span {
  display: block;
  font-size: 16px;
}
.content .right-cont .cont1 ul li button {
  width: 243px;
  height: 46px;
  background: #3cafeb;
  display: block;
  margin: 0 auto;
  color: white;
  font-size: 16px;
}
.content .right-cont .cont2 {
  width: 99%;
  height: auto;
  padding-bottom: 15px;
  border: 1px solid #dbdbdb;
  background: #fefefe;
  margin-top: 18px;
}
.content .right-cont .cont2 .name {
  width: 96%;
  margin: 0 auto;
  height: 40px;
  border-bottom: 1px solid #dbdbdb;
  line-height: 40px;
}
.content .right-cont .cont2 .name span {
  color: #3cafeb;
  font-size: 20px;
  margin-left: 10px;
}
.content .right-cont .cont2 .name-s {
  width: 96%;
  margin: 0 auto;
  height: 40px;
  border-bottom: 1px solid #dbdbdb;
  line-height: 40px;
}
.content .right-cont .cont2 .name-s span {
  font-size: 20px;
  margin-left: 10px;
}
.content .right-cont .cont2 ul {
  width: 94%;
  margin: 0 auto;
  margin-top: 5px;
}
.content .right-cont .cont2 ul li {
  width: 100%;
  overflow: hidden;
  margin-top: 15px;
}
.content .right-cont .cont2 ul li .head {
  width: 56px;
  height: 56px;
  float: left;
  position: relative;
  border-radius: 50%;
}
.content .right-cont .cont2 ul li .head .nr-head {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.content .right-cont .cont2 ul li .head .nr-icon {
  position: absolute;
  right: 0;
  bottom: 0;
}
.content .right-cont .cont2 ul li .name-pep {
  float: left;
  line-height: 21px;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 16px;
}
.content .right-cont .cont2 ul li .name-pep img {
  margin-top: 1px;
  float: left;
  margin-right: 5px;
}
.content .right-cont .cont2 ul li span {
  float: right;
  font-size: 16px;
  margin-top: 15px;
  color: #d2d2d2;
}
.content .right-cont .share {
  width: 99%;
  height: 72px;
  background: white;
  margin: 0 auto;
  border: 1px solid #dbdbdb;
  margin-top: 18px;
}
.content .right-cont .share dl {
  overflow: hidden;
  float: left;
  margin-top: 17px;
}
.content .right-cont .share dl dt {
  float: left;
  margin-left: 10px;
  line-height: 36px;
}
.content .right-cont .share dl dd {
  float: left;
  cursor: pointer;
  margin-left: 20px;
}
@media (max-width: 1200px) {
  .content {
    width: 100%;
    margin-top: 75px;
  }
  .content .left-cont {
    width: 100%;
    float: left;
    height: auto;
  }
  .content .left-cont .btn-cont {
    margin: 0 auto;
    width: 96%;
  }
  .content .left-cont .btn-cont button {
    width: 100px;
    height: 32px;
    display: block;
    float: left;
    background: #fefefe;
    font-size: 14px;
  }
  .content .left-cont .btn-cont button.act {
    color: white;
    background: #3cafeb;
  }
  .content .left-cont .btn-cont button.bm {
    display: block;
    float: right;
    color: #3cafeb;
  }
  .content .left-cont .cont1 {
    width: 96%;
    height: auto;
    padding-bottom: 10px;
    border: 1px solid #dbdbdb;
    background: #fefefe;
    overflow: hidden;
    margin: 0 auto;
  }
  .content .left-cont .cont1 ul {
    padding-bottom: 10px;
  }
  .content .left-cont .cont1 ul li {
    width: 92%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 25px;
  }
  .content .left-cont .cont1 ul li .head {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    float: left;
  }
  .content .left-cont .cont1 ul li .head img {
    width: 39px;
    height: 39px;
    border-radius: 50%;
  }
  .content .left-cont .cont1 ul li .name {
    float: left;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 10px;
  }
  .content .left-cont .cont1 ul li .name img {
    margin-right: 5px;
    margin-top: 3px;
    float: left;
  }
  .content .left-cont .cont1 ul li p {
    margin-top: 10px;
    font-size: 14px;
    display: block;
    margin-left: 10px;
    float: left;
    width: 82%;
  }
  .content .left-cont .cont1 ul li dl {
    width: 93%;
    float: left;
    margin-left: 45px;
    margin-top: 10px;
  }
  .content .left-cont .cont1 ul li dl dd {
    display: inline-block;
    margin: 0;
    width: 30%;
  }
  .content .left-cont .cont1 ul li dl dd img {
    width: 100%;
    height: auto;
  }
  .content .left-cont .cont1 ul li .big-img {
    margin-left: 45px;
    float: left;
    margin-top: 10px;
  }
  .content .left-cont .cont1 ul li .big-img img {
    width: 100%;
    height: auto;
  }
  .content .left-cont .cont2 {
    width: 96%;
    margin: 0 auto;
    height: auto;
    padding-bottom: 15px;
    border: 1px solid #dbdbdb;
    background: #fefefe;
    overflow: hidden;
    margin-top: 5px;
  }
  .content .left-cont .cont2 .name {
    width: 94%;
    height: 65px;
    border-bottom: 1px solid #dbdbdb;
    margin: 0 auto;
  }
  .content .left-cont .cont2 .name b {
    color: #3cafeb;
    font-size: 20px;
    float: left;
    font-weight: 500;
    line-height: 65px;
  }
  .content .left-cont .cont2 .name p {
    float: right;
    line-height: 65px;
  }
  .content .left-cont .cont2 .name p span {
    background: url("../img/zan.png") no-repeat;
    background-size: auto 100%;
    padding-left: 25px;
  }
  .content .left-cont .cont2 .name p i {
    font-style: normal;
    margin-left: 10px;
  }
  .content .left-cont .cont2 ul {
    width: 94%;
    margin: 0 auto;
  }
  .content .left-cont .cont2 ul li {
    width: 100%;
    margin-top: 35px;
  }
  .content .left-cont .cont2 ul li .com1 {
    width: 100%;
    height: auto;
    position: relative;
    padding-left: 70px;
    box-sizing: border-box;
  }
  .content .left-cont .cont2 ul li .com1 .headImg {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #dbdbdb;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
  }
  .content .left-cont .cont2 ul li .com1 .headImg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .content .left-cont .cont2 ul li .com1 h4 {
    width: 100%;
    height: 30px;
    font-weight: 500;
    border-bottom: 1px solid #dbdbdb;
  }
  .content .left-cont .cont2 ul li .com1 h4 span {
    font-size: 12px;
  }
  .content .left-cont .cont2 ul li .com1 h4 .time {
    color: #d2d2d2;
    margin-left: 10px;
  }
  .content .left-cont .cont2 ul li .com1 h4 a {
    float: right;
    font-size: 12px;
  }
  .content .left-cont .cont2 ul li .com1 p {
    font-size: 13px;
    line-height: 22px;
    margin-top: 10px;
    width: 100%;
  }
  .content .left-cont .cont2 ul li .com2 {
    width: 75%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    background: #f7f7f7;
    margin-left: 70px;
    margin-top: 12px;
  }
  .content .left-cont .cont2 ul li .com2 dl dd {
    font-size: 12px;
    line-height: 22px;
    margin-top: 8px;
  }
  .content .left-cont .cont2 ul li .com2 dl dd:first-child {
    margin-top: 0;
  }
  .content .left-cont .cont2 ul li .com2 dl dd span {
    font-size: 12px;
  }
  .content .left-cont .cont2 ul li .shur {
    width: 75%;
    margin-left: 70px;
    margin-top: 10px;
  }
  .content .left-cont .cont2 ul li .shur textarea {
    width: 100%;
    height: 60px;
    border: 1px solid #dbdbdb;
    resize: none;
    padding: 5px 13px;
    box-sizing: border-box;
  }
  .content .left-cont .cont2 ul li .shur textarea::-webkit-input-placeholder {
    color: #d2d2d2;
  }
  .content .left-cont .cont2 .page ul {
    text-align: center;
    margin-top: 20px;
  }
  .content .left-cont .cont2 .page ul li {
    display: inline-block;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background: #dbdbdb;
    text-align: center;
    line-height: 29px;
    margin: 0 3px;
    color: white;
  }
  .content .left-cont .cont2 .page ul li.act {
    background: #3cafeb;
  }
  .content .right-cont {
    width: 100%;
    float: right;
    margin-top: 5px;
  }
  .content .right-cont .cont1 {
    width: 96%;
    height: auto;
    border: 1px solid #dbdbdb;
    background: #fefefe;
    margin: 0 auto;
    padding-bottom: 15px;
  }
  .content .right-cont .cont1 .name {
    width: 96%;
    margin: 0 auto;
    height: 40px;
    border-bottom: 1px solid #dbdbdb;
    line-height: 40px;
  }
  .content .right-cont .cont1 .name span {
    color: #3cafeb;
    font-size: 20px;
  }
  .content .right-cont .cont1 ul {
    width: 94%;
    margin: 0 auto;
  }
  .content .right-cont .cont1 ul li {
    margin-top: 18px;
    overflow: hidden;
  }
  .content .right-cont .cont1 ul li:hover .txt b {
    color: #3cafeb;
  }
  .content .right-cont .cont1 ul li:hover .txt span {
    color: #3cafeb;
  }
  .content .right-cont .cont1 ul li a .video-cont {
    width: 113px ;
    height: 71px;
    float: left;
  }
  .content .right-cont .cont1 ul li a .video-cont img {
    width: 100%;
  }
  .content .right-cont .cont1 ul li a .txt {
    width: 60%;
    float: left;
    height: 71px;
    padding-left: 18px;
    box-sizing: border-box;
  }
  .content .right-cont .cont1 ul li a .txt b {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
  }
  .content .right-cont .cont1 ul li a .txt span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #d2d2d2;
  }
  .content .right-cont .cont2 {
    width: 96%;
    height: auto;
    border: 1px solid #dbdbdb;
    background: #fefefe;
    margin: 0 auto;
    margin-top: 5px;
    padding-bottom: 10px;
  }
  .content .right-cont .cont2 .name {
    width: 96%;
    margin: 0 auto;
    height: 40px;
    border-bottom: 1px solid #dbdbdb;
    line-height: 40px;
  }
  .content .right-cont .cont2 .name span {
    color: #3cafeb;
    font-size: 20px;
  }
  .content .right-cont .cont2 ul {
    width: 94%;
    margin: 0 auto;
  }
  .content .right-cont .cont2 ul li {
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
  }
  .content .right-cont .cont2 ul li .head {
    width: 56px;
    height: 56px;
    float: left;
    position: relative;
    border-radius: 50%;
  }
  .content .right-cont .cont2 ul li .head .nr-head {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .content .right-cont .cont2 ul li .head .nr-icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .content .right-cont .cont2 ul li .name-pep {
    float: left;
    line-height: 21px;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 14px;
  }
  .content .right-cont .cont2 ul li .name-pep img {
    margin-top: 1px;
    float: left;
    margin-right: 5px;
  }
  .content .right-cont .cont2 ul li span {
    float: right;
    font-size: 14px;
    margin-top: 15px;
    color: #d2d2d2;
  }
  .content .right-cont .share {
    width: 96%;
    height: 72px;
    background: white;
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    margin-top: 5px;
  }
  .content .right-cont .share dl {
    overflow: hidden;
    float: left;
    margin-top: 17px;
  }
  .content .right-cont .share dl dt {
    float: left;
    margin-left: 10px;
    line-height: 36px;
  }
  .content .right-cont .share dl dd {
    float: left;
    cursor: pointer;
    margin-left: 20px;
  }
}
