.content {
  width: 1200px;
  height: 65px;
  margin: 0 auto;
  margin-top: 160px;
}
.content h4 {
  float: left;
  line-height: 65px;
  color: #707070;
  font-size: 25px;
  font-weight: 500;
}
.content .buy {
  float: right;
}
.content .buy a {
  line-height: 65px;
  font-size: 16px;
  margin-right: 20px;
}
.content .buy button {
  width: 148px;
  height: 44px;
  background: #ff6700;
  color: white;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .content {
    width: 100%;
    margin-top: 65px;
  }
  .content h4 {
    float: left;
    line-height: 45px;
    color: #707070;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    width: 100%;
  }
  .content .buy {
    width: 100%;
    float: right;
    text-align: center;
  }
  .content .buy a {
    line-height: 65px;
    font-size: 14px;
    margin-right: 20px;
  }
  .content .buy button {
    width: 100px;
    height: 30px;
    background: #ff6700;
    color: white;
    font-size: 14px;
  }
}
.list ul li {
  width: 100%;
}
.list ul li img {
  width: 100%;
  display: block;
}
.footer {
  margin-top: 0;
}
